body,html
  line-height: 1
  font-weight: 200
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, STHeiTi, Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
.clearfix
  display: inline-block'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  &:after
    content: '''Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    display: block'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    height: 0'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    line-height: 0'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    clear: both'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    visibility: hidden'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5)
  .border-1px
    &:after
      -webkit-transform: scaleY(.7)'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      -moz-transform: scaleY(.7)'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      -ms-transform: scaleY(.7)'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      -o-transform: scaleY(.7)'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      transform: scaleY(.7)'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
  .border-1px
    &:after
      -webkit-transform: scaleY(.5)'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      -moz-transform: scaleY(.5)'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      -ms-transform: scaleY(.5)'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      -o-transform: scaleY(.5)'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      transform: scaleY(.5)'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
